.account main {
  display: grid;
  grid-template-columns: 300px auto;

  header, .content {
    padding: var(--spacing-6);
  }

  .content {
    display: grid;
    gap: var(--gap-medium);
    grid-template-columns: 1fr 1fr;
  }

  .bento-card {
    background: white;
    border-radius: var(--border-radius-large);
    padding: var(--spacing-3) var(--spacing-8) var(--spacing-8);
  }
}

.account h1 {
  margin: 0;
}

.account form {
  max-width: var(--form-width);
}

.subscriptions table {
  border-collapse: collapse;
  width: 100%;
}

.subscriptions table td {
  padding: var(--spacing-2);
}

.subscriptions table td:last-child {
  text-align: right;
}

.subscriptions table tfoot {
  border-top: var(--border-default);
}
