<% content_for(:page_title, @instrument.name) %>

<%= render Global::HeroComponent.new(title: @instrument.name, subtitle: "Les instruments") %>

<section class="section">
  <div class="wrapper wrapper--text"></aside>
    <div class="text-container"><%= markdown(@instrument.description) %></div>
    <div class="slot">
      <% @slots.each do |city_and_day, slots| %>
        <% city, day = city_and_day %>
        <% slots.each do |slot| %>
          <% courses = slot.teacher.courses.where(instrument_id: @instrument.id) %>
          <% courses.each do |course| %>
            <% if course.teacher == slot.teacher && city != @city %>
              <h3 class="h4"><%= city.name %></h3>
              <% @city = city %>
            <% end %>
            <ul>
              <% if course.teacher == slot.teacher %>
                <li><%= slot.name_without_city %></li>
              <% end %>
            </ul>
          <% end %>
          </ul>
        <% end %>
      <% end %>
    </div>
  </div>
</section>
