<% content_for(:page_title, @instrument.name) %>

<%= render Global::HeroComponent.new(title: @instrument.name) %>

<section class="section">
  <div class="wrapper wrapper--text"></aside>
    <div class="text-container"><%= markdown(@instrument.description) %></div>
    <div class="sessions"></div>
  </div>
</section>
