<footer class="footer wrapper">
  <div class="footer__container">
    <div class="footer__column">
      <h3 class="footer__column-title h4">Contact</h3>
      <address>
        <ul class="footer__list">
          <li>
            <h4 class="footer__list-title">Adresse</h4>
            <div>Château du Parc Anger – 2ème étage</div>
            <div>6, rue Joseph Lamour de Caslou</div>
            <div>35600 Redon</div>
          </li>
          <li>
            <h4 class="footer__list-title">Coordination du Groupement</h4>
            <dl class="footer__address">
              <dt>Téléphone</dt>
              <dd>02.99.71.45.40</dd>
              <dt>E-mail</dt>
              <dd><%= link_to "gcbpv@wanadoo.fr", "mailto:gcbpv@wanadoo.fr" %></dd>
            </dl>
          </li>
          <li>
            <h4 class="footer__list-title">Coordination de l’EMT</h4>
            <dl class="footer__address">
              <dt>Téléphone</dt>
              <dd>02.99.71.36.50</dd>
              <dt>E-mail</dt>
              <dd><%= link_to "gcbpv-emt@wanadoo.fr", "mailto:gcbpv-emt@wanadoo.fr" %></dd>
            </dl>
          </li>
          <li>
            <h4 class="footer__list-title">Coordination du Centre de Ressources</h4>
            <dl class="footer__address">
              <dt>Téléphone</dt>
              <dd>02.99.71.45.40</dd>
              <dt>E-mail</dt>
              <dd><%= link_to "gcbpv-numerisation@wanadoo.fr", "mailto:gcbpv-numerisation@wanadoo.fr" %></dd>
            </dl>
          </li>
        </ul>
      </address>
    </div>
  </div>
  <div class="footer__copyright">© <%= Time.zone.now.year %> · Groupement Culturel Breton des Pays de Vilaine.</div>
</footer>
