<h1><%= @report.date %></h1>
<table>
  <thead>
    <tr>
      <td>Date</td>
      <td>Description</td>
      <td><%= link_to "Ajouter une session de cours", new_account_session_report_path %></td>
    </tr>
  </thead>
</table>
