<% content_for(:page_title, "La Bogue d’Or") %>
<% content_for(:page_class, "bogue") %>

<%= render Global::HeroComponent.new(title: "La Bogue d’Or") %>

<section class="section">
  <div class="wrapper wrapper--text text-container">
    <p>La Bogue d’Or a été créée à Redon il y a plus de 45 ans par des passionnés visionnaires, pour faire revivre le chant traditionnel local avec un concours de chant a capella, devenu au fil des ans un véritable festival !</p>

    <p>La Bogue d’Or propose concours de conte,  chant, musicaux (biniou-bombarde, duos libres..), fest-noz, Chicass’Noz, joute contée et chantée par équipe (avec vote du public !), apéros poétiques.</p>

    <p>Ici le dialogue des cultures fonctionne ! Jeunes et moins jeunes se côtoient sur scène ou dans la ronde, la culture locale flirte avec d’autres influences et on aime aussi découvrir d’autres cultures de tradition populaire.  
    La programmation se dévoile chaque année en période estivale... pour se préparer à danser lors des premières fraicheurs de l'automne !</p>

    <p>Organisé par le Groupement Culturel Breton des Pays de Vilaine, le festival se réinvente chaque année pour de nouveaux partages. Profondément ancré grâce aux racines, à la transmission des ainés, c'est un festival ouvert sur le monde qui puise dans toutes les traditions pour de savoureux mélanges sonores !</p>
  </div>
</section>
