<% content_for(:page_title, "Les rendez-vous") %>
<% content_for(:page_class, "meetings") %>

<%= render Global::HeroComponent.new(title: "Les rendez-vous", subtitle: "L'école de musique traditionnelle") %>

<section class="section">
  <div class="wrapper">
    <ul class="card-list">
      <% @meetings.each do |meeting| %>
        <li>
          <%= render Global::CardComponent.new(title: meeting.name, url: emt_meeting_path(meeting.id)) %>
        </li>
      <% end %>
    </ul>
  </div>
</section>
