<div class="edition__list-item">
  <div class="edition__cover">
    <%= image_tag(@edition.image) %>
  </div>
  <div class="edition__content">
    <h3 class="h3"><%= link_to @edition.name, @edition %></h3>
  </div>
</div>
