<% content_for(:page_title, "Les ateliers découverte") %>
<% content_for(:page_class, "discoveries") %>

<%= render Global::HeroComponent.new(title: "Les ateliers découverte", subtitle: "L’école de musique traditionnelle") %>

<section class="section">
  <div class="wrapper">
    <p>Les projets permettent aux élèves de l’EMT de participer des activités qui sortent du cadre des cours de musique. Spectacles pour enfants, animations dans des projets municipaux, partenariats avec le conservatoire, il y en a pour tous les goûts !</p>
  </div>
</section>
