<% content_for(:page_title, "Le centre de ressources") %>
<% content_for(:page_class, "resources") %>

<%= render Global::HeroComponent.new(title: "Le centre de ressources") %>

<section class="section">
  <div class="wrapper wrapper--text text-container">
    <h2>Un pôle associé à Dastum</h2>
    <p>Le travail mené autour de ce pôle s’inscrit également dans cette démarche de sauvegarde et de valorisation du patrimoine culturel immatériel. En rassemblant des milliers d’heures d’enregistrement de documents sonores issus du collectage entrepris depuis les années 1960, c’est ainsi une part importante de la mémoire collective du Pays qui est archivée. Chaque document est inventorié, puis numérisé et traité, afin d’en assurer sa protection et sa conservation. La même démarche est aujourd’hui entreprise pour les photos et diapos. Incontestablement, le Pays d’Oust et Vilaine dispose de ressources importantes en terme de patrimoine culturel (musique, conte, chant, architecture, histoire fluviale et maritime, passé industriel et agricole….).</p>
    <p>De nombreux acteurs se sont investis dans le travail de collectage, de recensement, de recherches… et ce, depuis de nombreuses années. Ce travail se poursuit encore aujourd’hui. Toutefois, une étude que nous avons menée, nous montre que les documents de diverses natures sont nombreux, éparpillés, souvent mal sauvegardés faute de moyens et peu exploités et/ou valorisés. Par ailleurs, le manque de centralité et de visibilité des « trésors cachés » des ressources patrimoniales ne permet pas un accès à la connaissance et ne facilite pas le développement d’un intérêt notamment chez les jeunes.</p>

    <p class="with-image">C’est en réponse à ces problématiques que nous travaillons sur la création d’un Centre Ressources de la Mémoire du Pays. Tout en préservant et respectant la singularité de chacun des acteurs locaux oeuvrant dans la sauvegarde du patrimoine culturel, notre action s’inscrit dans une démarche de coopération au service de l’intérêt général du territoire. Au-delà d’une base de données, le Centre Ressources vise à devenir un outil d’accompagnement en terme d’animation et de transmission de la mémoire, un lieu ressources pour les projets d’interprétation, de médiation et de valorisation du patrimoine, dans le cadre de schémas d’économie touristique.
    <%= image_tag("ressources-1.jpg") %>
    </p>

    <p>Les fonds documentaires seront enrichis grâce à l’opération « Mémoire en Résidence ». Il s’agit d’une méthodologie de collectage des éléments constitutifs de la mémoire collective initiée sur des communes du Pays de Redon. Notre rôle consiste à accompagner les communes pendant plusieurs mois dans cette démarche, en s’appuyant sur notre connaissance du territoire, nos capacités à l’animer, à fédérer les acteurs, à mobiliser les compétences et à rendre ainsi la mémoire vivante.</p>

    <p class="with-image with-image--left"><%= image_tag("ressources-2.jpg") %>Le travail entrepris s’appuie également sur la volonté de favoriser la création artistique à partir des ressources collectées. Nous accompagnons actuellement la commune de St Jean La Poterie, qui souhaite mener plusieurs actions de transmission et de valorisation de la mémoire liée à la poterie et à la faïencerie. Afin de rendre la méthodologie transférable sur d’autres communes, nous avons mis en place des outils de capitalisation. L’ensemble de la démarche s’inscrit dans le Cluster Les Articulteurs, initié sur le Pays de Redon.</p>

    <p class="with-image">Ajoutons également que l’action que nous menons autour de l’inventaire du petit patrimoine rural s’inscrit dans une démarche similaire. En impliquant les habitants dans le recensement, elle contribue à la prise de conscience de la nécessité de sauvegarder tous les éléments constitutifs de l’identité de ces communes. Parallèlement, c’est toute l’histoire locale qui resurgit. Cette action ainsi menée constitue une base intéressante pour documenter notamment des circuits d’interprétation touristique.
    <%= image_tag("ressources-3.jpg") %>
    </p>
  </div>
</section>
