<% content_for(:page_title, @workshop.name) %>

<%= render Global::HeroComponent.new(title: @workshop.name, subtitle: "Les ateliers") %>

<section class="section">
  <div class="wrapper wrapper--text">
    <%= render Global::CardComponent.new(title: "Animé par #{@workshop.teacher.name}", url: emt_teacher_path(@workshop.teacher_id)) %>
    <div class="text-container">
      <p><%= @workshop.date_and_time.capitalize %>.</p>
      <%= markdown(@workshop.description) %>
    </div>
  </div>
</section>
