<% content_for(:page_title, "Les actualités du groupement") %>
<% content_for(:page_class, "posts") %>

<%= render Global::HeroComponent.new(title: "Les actualités du groupement") %>

<section class="section">
  <div class="wrapper">
    <ul class="card-list">
      <% @posts.each do |post| %>
        <li>
          <%= render Global::CardComponent.new(title: post.title, url: post_path(post.id)) %>
        </li>
      <% end %>
    </ul>
  </div>
</section>
