<% content_for(:page_title, @post.title) %>

<%= render Global::HeroComponent.new(title: @post.title) do |component| %>
  <% component.extra do %>
    <p class="hero__extra">
      <%= "Publié le #{I18n.l(@post.created_at, format: "%d %B %Y")}" %>
    </p>
  <% end %>
<% end %>

<section class="section">
  <div class="wrapper wrapper--text">
    <p><%= @post.content %></p>
    <aside data-aside-position="left">
      <h3 class="h4">Événement connexe</h3>
      <div>
        <%= link_to @post.event.name, @post.event, class: "tag" %>
      </div>
    </aside>
  </div>
</section>
