.card-list {
  display: grid;
  gap: var(--gap);
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.card-list li {
  display: flex;
}

.card {
  background: var(--brand-gradient);
  border-radius: var(--border-radius-medium);
  color: var(--white);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: var(--gap);
  padding: var(--spacing-5);
}

.card__header {
  align-items: center;
  display: flex;
  gap: var(--gap);
}

.card__title {
  font-size: 1.5rem;
  margin: 0;
}

.card__content {
  text-align: right;
}
