.card-list {
  display: grid;
  gap: var(--gap);
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  list-style-type: none;
  margin: var(--spacing-4) 0;
  padding: 0;
}

.card-list[data-list-type="column"] {
  grid-template-columns: 1fr;
}

.card-list li {
  display: flex;
}

.card {
  background-image: var(--brand-gradient);
  border-radius: var(--border-radius-medium);
  box-shadow: var(--shadow-elevation-medium);
  color: var(--white);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: var(--gap);
  padding: var(--spacing-5);
}

.card:hover {
  box-shadow: var(--shadow-elevation-high);
  text-decoration: none;
  transform: scale(1.02);
}

.card__header {
  align-items: center;
  display: flex;
  gap: var(--gap);
}

.card__title {
  font-size: 1.5rem;
  margin: 0;
}

.card__content {
  text-align: right;
}
