.post-list {
  align-items: stretch;
  display: flex;
  gap: var(--gap);
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.post-list__item {
  border-radius: var(--border-radius-small);
  box-shadow: var(--box-shadow-default);
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.post__img {
  background-image: linear-gradient(to right, var(--blue-60), var(--brand));
  flex: 0 0 25%; 
}

.post__content {
  background: var(--bg-color);
  flex-grow: 1;
  padding: var(--global-padding);
}

.post__description {
  font-size: 1.25em;
}
