.section {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  padding-block: var(--spacing-20);
}

.section[data-scheme="dark"] {
  background-color: var(--blue-80);
  color: var(--white);
}
