:root {
  --white: #FFFFFF;
  --white-rgb: 255, 255, 255;
  --black: #000000;
  --black-rgb: 0, 0, 0;
  
  --gray-90: #0C0E19;
  --gray-80: #1C2035;
  --gray-70: #303651;
  --gray-60: #4A516D;
  --gray-50: #697089;
  --gray-40: #989EB3;
  --gray-30: #C7CBD8;
  --gray-20: #E6E8F0;
  --gray-10: #F4F6F9;

  --gray-90-a: hsla(231,0%,3%,0.96);
  --gray-80-a: hsla(231,31%,7%,0.9);
  --gray-70-a: hsla(230,55%,9%,0.82);
  --gray-60-a: hsla(228,80%,10%,0.71);
  --gray-50-a: hsla(227,87%,11%,0.59);
  --gray-40-a: hsla(227,86%,15%,0.41);
  --gray-30-a: hsla(225,99%,15%,0.22);
  --gray-20-a: hsla(228,91%,22%,0.1);
  --gray-10-a: hsla(216,59%,33%,0.05);

  --green-90: #071d0d;
  --green-80: #0d391a;
  --green-70: #145628;
  --green-60: #1b7335;
  --green-50: #208a3f;
  --green-40: #28ac4f;
  --green-30: #6edd8f;
  --green-20: #9ee9b4;
  --green-10: #cff4da;
  
  --green-90-a: hsla(136,0%,5%,0.98);
  --green-80-a: hsla(138,38%,9%,0.95);
  --green-70-a: hsla(139,60%,15%,0.93);
  --green-60-a: hsla(138,77%,20%,0.9);
  --green-50-a: hsla(138,88%,24%,0.88);
  --green-40-a: hsla(138,94%,31%,0.85);
  --green-30-a: hsla(138,98%,38%,0.57);
  --green-20-a: hsla(138,94%,40%,0.39);
  --green-10-a: hsla(138,98%,39%,0.19);

  --yellow-90: #372c03;
  --yellow-80: #6e5705;
  --yellow-70: #a68308;
  --yellow-60: #ddaf0a;
  --yellow-50: #F5C92C;
  --yellow-40: #f7d456;
  --yellow-30: #f9df80;
  --yellow-20: #fbe9ab;
  --yellow-10: #fdf4d5;

  --yellow-90-a: hsla(48,0%,10%,0.99);
  --yellow-80-a: hsla(47,36%,22%,0.99);
  --yellow-70-a: hsla(47,63%,32%,0.97);
  --yellow-60-a: hsla(47,79%,44%,0.97);
  --yellow-50-a: hsla(47,90%,48%,0.83);
  --yellow-40-a: hsla(47,94%,48%,0.67);
  --yellow-30-a: hsla(47,98%,48%,0.5);
  --yellow-20-a: hsla(46,100%,48%,0.33);
  --yellow-10-a: hsla(46,94%,49%,0.17);

  --red-90: #2c0c06;
  --red-80: #58180c;
  --red-70: #832313;
  --red-60: #af2f19;
  --red-50: #DB3B1F;
  --red-40: #e56049;
  --red-30: #ec8876;
  --red-20: #f2b0a4;
  --red-10: #f9d7d1;

  --red-90-a: hsla(9,0%,8%,0.98);
  --red-80-a: hsla(9,36%,16%,0.96);
  --red-70-a: hsla(8,62%,24%,0.93);
  --red-60-a: hsla(9,78%,33%,0.91);
  --red-50-a: hsla(9,90%,42%,0.88);
  --red-40-a: hsla(9,94%,43%,0.72);
  --red-30-a: hsla(9,98%,43%,0.54);
  --red-20-a: hsla(9,98%,43%,0.36);
  --red-10-a: hsla(9,89%,46%,0.19);

  --blue-90: #081525;
  --blue-80: #10294a;
  --blue-70: #183e6e;
  --blue-60: #205293;
  --blue-50: #2867B8;
  --blue-40: #4383d6;
  --blue-30: #72a2e0;
  --blue-20: #a1c1eb;
  --blue-10: #d0e0f5;

  --blue-90-a: hsla(212,0%,6%,0.97);
  --blue-80-a: hsla(214,36%,12%,0.94);
  --blue-70-a: hsla(213,62%,19%,0.91);
  --blue-60-a: hsla(214,78%,26%,0.88);
  --blue-50-a: hsla(214,88%,34%,0.85);
  --blue-40-a: hsla(214,95%,39%,0.74);
  --blue-30-a: hsla(214,96%,40%,0.56);
  --blue-20-a: hsla(214,99%,40%,0.37);
  --blue-10-a: hsla(214,92%,41%,0.19);

  --pink-90: #310e17;
  --pink-80: #611c2e;
  --pink-70: #922a45;
  --pink-60: #c2375c;
  --pink-50: #d36582;
  --pink-40: #dc849b;
  --pink-30: #e5a3b4;
  --pink-20: #edc1cd;
  --pink-10: #f6e0e6;

  --pink-90-a: hsla(344,0%,8%,0.95);
  --pink-80-a: hsla(344,35%,16%,0.9);
  --pink-70-a: hsla(344,62%,25%,0.84);
  --pink-60-a: hsla(344,78%,35%,0.79);
  --pink-50-a: hsla(344,88%,37%,0.61);
  --pink-40-a: hsla(344,92%,37%,0.49);
  --pink-30-a: hsla(345,93%,38%,0.37);
  --pink-20-a: hsla(344,92%,37%,0.25);
  --pink-10-a: hsla(344,83%,40%,0.13);

  --purple-90: #1b0822;
  --purple-80: #371045;
  --purple-70: #521867;
  --purple-60: #6e208a;
  --purple-50: #8928AC;
  --purple-40: #ab3ed2;
  --purple-30: #c06edd;
  --purple-20: #d59ee9;
  --purple-10: #eacff4;

  --purple-90-a: hsla(284,0%,5%,0.97);
  --purple-80-a: hsla(284,36%,11%,0.94);
  --purple-70-a: hsla(284,62%,18%,0.91);
  --purple-60-a: hsla(284,78%,24%,0.88);
  --purple-50-a: hsla(284,88%,31%,0.85);
  --purple-40-a: hsla(284,95%,39%,0.76);
  --purple-30-a: hsla(284,98%,38%,0.57);
  --purple-20-a: hsla(284,94%,40%,0.39);
  --purple-10-a: hsla(284,98%,39%,0.19);
}

@media (prefers-color-scheme: dark) {
  :root {
    --gray-90-a: hsla(231,0%,73%,0.1);
    --gray-80-a: hsla(230,36%,76%,0.21);
    --gray-70-a: hsla(229,61%,79%,0.32);
    --gray-60-a: hsla(228,76%,83%,0.43);
    --gray-50-a: hsla(227,88%,88%,0.54);
    --gray-40-a: hsla(226,83%,91%,0.71);
    --gray-30-a: hsla(225,90%,96%,0.85);
    --gray-20-a: hsla(229,73%,97%,0.95);
    --gray-10-a: hsla(216,71%,99%,0.98);

    --green-90-a: hsla(136,0%,59%,0.12);
    --green-80-a: hsla(138,35%,60%,0.23);
    --green-70-a: hsla(138,62%,61%,0.34);
    --green-60-a: hsla(138,76%,61%,0.46);
    --green-50-a: hsla(138,87%,61%,0.55);
    --green-40-a: hsla(138,94%,61%,0.68);
    --green-30-a: hsla(138,97%,75%,0.87);
    --green-20-a: hsla(138,95%,83%,0.92);
    --green-10-a: hsla(137,95%,92%,0.96);

    --yellow-90-a: hsla(47,0%,52%,0.22);
    --yellow-80-a: hsla(47,36%,51%,0.44);
    --yellow-70-a: hsla(47,62%,52%,0.66);
    --yellow-60-a: hsla(47,80%,52%,0.87);
    --yellow-50-a: hsla(47,89%,58%,0.97);
    --yellow-40-a: hsla(47,96%,68%,0.97);
    --yellow-30-a: hsla(47,97%,76%,0.98);
    --yellow-20-a: hsla(46,97%,84%,0.99);
    --yellow-10-a: hsla(47,91%,91%,1);
  
    --red-90-a: hsla(10,0%,54%,0.18);
    --red-80-a: hsla(10,36%,56%,0.35);
    --red-70-a: hsla(8,62%,57%,0.52);
    --red-60-a: hsla(9,80%,57%,0.69);
    --red-50-a: hsla(9,90%,57%,0.86);
    --red-40-a: hsla(9,95%,66%,0.9);
    --red-30-a: hsla(9,97%,75%,0.93);
    --red-20-a: hsla(9,100%,84%,0.95);
    --red-10-a: hsla(9,95%,92%,0.98);

    --blue-90-a: hsla(213,0%,59%,0.15);
    --blue-80-a: hsla(214,35%,59%,0.3);
    --blue-70-a: hsla(214,60%,60%,0.44);
    --blue-60-a: hsla(214,79%,60%,0.58);
    --blue-50-a: hsla(214,88%,60%,0.73);
    --blue-40-a: hsla(214,96%,66%,0.84);
    --blue-30-a: hsla(214,99%,76%,0.88);
    --blue-20-a: hsla(214,95%,84%,0.93);
    --blue-10-a: hsla(214,91%,92%,0.97);

    --pink-90-a: hsla(345,0%,62%,0.2);
    --pink-80-a: hsla(344,35%,63%,0.39);
    --pink-70-a: hsla(344,61%,64%,0.58);
    --pink-60-a: hsla(344,78%,63%,0.77);
    --pink-50-a: hsla(344,89%,74%,0.83);
    --pink-40-a: hsla(345,92%,79%,0.87);
    --pink-30-a: hsla(344,96%,85%,0.9);
    --pink-20-a: hsla(345,100%,91%,0.93);
    --pink-10-a: hsla(344,92%,95%,0.97);

    --purple-90-a: hsla(284,0%,59%,0.14);
    --purple-80-a: hsla(284,34%,59%,0.28);
    --purple-70-a: hsla(284,61%,61%,0.41);
    --purple-60-a: hsla(284,77%,61%,0.55);
    --purple-50-a: hsla(284,89%,61%,0.68);
    --purple-40-a: hsla(284,94%,64%,0.83);
    --purple-30-a: hsla(285,97%,75%,0.87);
    --purple-20-a: hsla(284,95%,83%,0.92);
    --purple-10-a: hsla(284,95%,92%,0.96);
  }
}
