.wrapper {
  display: grid;
  gap: var(--spacing-12);
  grid-template-columns: 1fr Min(var(--content-width), calc(100% - var(--spacing-16))) 1fr;
  padding-inline: var(--global-padding);
}

.wrapper--text {
  --content-width: 65ch;
  line-height: 1.5;
}

.wrapper--form {
  --content-width: var(--form-width);
}

.wrapper > * {
  align-self: start;
  grid-column: 2;
}

.wrapper > img {
  width: 100%;
}

.wrapper > aside {
  border-radius: var(--border-radius-small);
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  grid-row: 1 / span 10;
  max-width: 35ch;
  width: 100%;
}

.wrapper > aside[data-aside-position="left"] {
  grid-column: 1;
  justify-self: end;
  margin-left: var(--spacing-4);
}

.wrapper > aside[data-aside-position="right"] {
  align-items: end;
  grid-column: 3;
  margin-right: var(--spacing-4);
}

.wrapper > aside nav {
  display: inline-flex;
  flex-direction: column;
  gap: var(--spacing-2);
}

.full-bleed {
  grid-column: 1 / -1;
  width: 100%;
}

.text-container p {
  line-height: 1.75;
}

.horizontal-flow {
  display: flex;
  gap: var(--gap);
}

.vertical-flow {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}
