.wrapper {
  display: grid;
  gap: var(--gap);
  grid-template-columns: 1fr Min(var(--content-width), calc(100% - var(--spacing-16))) 1fr;
  grid-column-gap: var(--spacing-8);
}

.wrapper--text {
  --content-width: 65ch;
}

.wrapper--form {
  --content-width: 45ch;
}

.wrapper > * {
  grid-column: 2;
}

.full-bleed {
  grid-column: 1 / -1;
  width: 100%;
}

.text-container p {
  line-height: 1.75;
}
