:root {
  --brand: #ae9d7c;
  --brand-gradient: linear-gradient(145deg, var(--gray-50-a), var(--brand));

  --global-padding: var(--spacing-8);
  --content-width: 120ch;
  --gap: var(--spacing-6);

  --text-color: var(--black);

  --text-font-family: "Montserrat";
  --text-font-weight: 400;

  --title-font-family: "Mohr";
  --title-font-weight: 500;

  --link-hover-color: var(--blue-20-a);

  --bg-color: var(--white);
  --bg-color-transparent: rgba(var(--white-rgb), 0.9);
  --bg-color-secondary: var(--gray-20);

  --border-default: 1px solid var(--text-color);

  --box-shadow-default: 0 var(--spacing-1) 4px 4px rgba(0, 0, 0, 0.1);

  --border-radius-small: var(--spacing-1);
  --border-radius-medium: var(--spacing-2);
  --border-radius-large: var(--spacing-4);

  --light-bg-color: var(--gray-20-a);

  --info-bg-color: var(--blue-10-a);
  --info-border-color: var(--blue-20-a);
  --info-text-color: var(--blue-60);

  --success-bg-color: var(--green-10-a);
  --success-border-color: var(--green-20-a);
  --success-text-color: var(--green-70);

  --warning-bg-color: var(--yellow-10-a);
  --warning-border-color: var(--yellow-20-a);
  --warning-text-color: var(--yellow-70);

  --error-bg-color: var(--red-10-a);
  --error-border-color: var(--red-20-a);
  --error-text-color: var(--red-70);

  --form-width: 45ch;

  --shadow-color: 229deg 9% 58%;
  --shadow-elevation-low:
    0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
    0.4px 0.8px 1px -1.2px hsl(var(--shadow-color) / 0.34),
    1px 2px 2.5px -2.5px hsl(var(--shadow-color) / 0.34);
  --shadow-elevation-medium:
    0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.36),
    0.8px 1.6px 2px -0.8px hsl(var(--shadow-color) / 0.36),
    2.1px 4.1px 5.2px -1.7px hsl(var(--shadow-color) / 0.36),
    5px 10px 12.6px -2.5px hsl(var(--shadow-color) / 0.36);
  --shadow-elevation-high:
    0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
    1.5px 2.9px 3.7px -0.4px hsl(var(--shadow-color) / 0.34),
    2.7px 5.4px 6.8px -0.7px hsl(var(--shadow-color) / 0.34),
    4.5px 8.9px 11.2px -1.1px hsl(var(--shadow-color) / 0.34),
    7.1px 14.3px 18px -1.4px hsl(var(--shadow-color) / 0.34),
    11.2px 22.3px 28.1px -1.8px hsl(var(--shadow-color) / 0.34),
    17px 33.9px 42.7px -2.1px hsl(var(--shadow-color) / 0.34),
    25px 50px 62.9px -2.5px hsl(var(--shadow-color) / 0.34);
}
