<% content_for(:page_class, "account") %>

<% content_for :content do %>
  <header>
    <h1>Mon compte</h1>
    <%= render Account::NavigationComponent.new(current_user: current_user) %>
  </header>
  <div class="content">
    <%= yield %>
  </div>
<% end %>
<%= render template: "layouts/application" %>
