<% content_for :content do %>
  <div class="wrapper">
    <header>
      <h1>Mon compte</h1>
      <%= render Profile::NavigationComponent.new %>
    </header>
    <%= yield %>
  </div>

  
<% end %>
<%= render template: "layouts/application" %>
