<% content_for(:page_title, "Le groupement") %>
<% content_for(:page_class, "groupement") %>

<%= render Global::HeroComponent.new(title: "Le Groupement") %>

<section class="section">
  <div class="wrapper wrapper--text">
    <p>Collecter, sauvegarder, transmettre et valoriser le patrimoine culturel… C'est cela qui anime notre association depuis 1975.
    <h2 class="h2">Les pôles d’activité du groupement</h2>
    <div class="card-list" data-list-type="column">
      <%= render Global::CardComponent.new(title: "L’école de musique traditionnelle", url: emt_path) %>
      <%= render Global::CardComponent.new(title: "La Bogue d’Or et les événements", url: events_path) %>
      <%= render Global::CardComponent.new(title: "Le centre de ressources", url: resources_path) %>
    </div>
    <div class="text-container">
      <h2 class="h2">On cherche des bénévoles !</h2>
      <p>Pour aider à gérer les animations, que ce soit pour la Bogue ou les événements de l’école de musique, on serait très reconnaissants si vous donniez un p'tit coup de main. Le genre de tâches sur lesquelles nous aider :</p>
      <ul>
        <li>Tenir les buvettes</li>
        <li>Tenir la billetterie</li>
        <li>Aider en cuisine</li>
        <li>Installer les infrastructures</li>
        <li>Etc.</li>
      </ul>
    </div>
  </div>
</section>
